<% @equipments.each do |equipment| %>
  <%= link_to equipment.title, equipment_path(equipment) %>
  <h3>Informations</h3>
  <p><strong>Address: </strong><%= equipment.address %></p>
  <p><strong>Daily price: </strong><%= equipment.daily_price %></p>
  <p><strong>Sport Category: </strong><%= equipment.sport_category %></p>
<% end %>
