<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= "https://images.unsplash.com/photo-1530292889750-92059c19f198?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" %>);">
  <div class="container text-center">
    <h1>Xtreme Sports Rental</h1>
    <p>Live on the edge & access the latest kit from fellow riders.</p>
    <a href="#" class="btn btn-flat">Experience now</a>
  </div>
</div>
