<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/dorboeznn/video/upload/v1613661994/video%20Nico/Xtrem_Snowboard_wryqu1.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Xtreme Sports Rental</h1>
        <p class="lead mb-0">Live on the edge & access the latest kit from fellow riders.</p>
        <br>
        <%= link_to "Experience Now", categories_path, class: 'btn btn-light btn-lg', id:'homebtncolor' %>
      </div>
    </div>
  </div>
</header>

