.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-ghost:link, .btn-ghost:active, .btn-ghost:visited {
  text-decoration: none;
  color:black;
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  margin-top: 80px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
