.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent !important;
  position: fixed;
  z-index: 999;
  width: 100vw;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  border-radius: 20px;
  margin-left: 8px;
}

.home-navbar .nav-link{
  color: white !important;
}

.white-navbar {
  background-color: #fff !important;
}

.navbar-lewagon .nav-link{
  // color:white !important;
  text-decoration: none;
  transition: opacity 0.3s ease;
  opacity: 0.8;
}

.navbar-lewagon .navbar-link:hover {
  opacity: 1;
  text-decoration-line: underline;
}
